{% extends 'layouts/main.html' %}

{% block content %}
<div class="hero">
    <div class="container">
        <div class="main-heading">
            <h1 class="title">Dive</h1>
            <h2 class="subtitle">Meet u in music</h2>
        </div>
        <!-- <a href="/search" class="btn btn-gradient">for listener
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
        </a> -->
        <a href="/musicians/create"
           class="btn btn-gradient">Post a musician
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
        </a>
        <a href="/songs/create"
           class="btn btn-gradient">Post a song
            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
        </a>
    </div>
</div>
{% endblock %}