{% extends 'layouts/main.html' %}

{% block content %}
        <section class="searching">
            <div class="container">
                
                    
                    <a href="/search/song" class="btn form-btn btn-purple">Search for song
                        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                    </a><a href="search/musician" class="btn form-btn btn-purple">Search for musician
                        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                    </a>
               
            </div>
        </section>
{% endblock %}

