{% extends 'layouts/main.html' %}

{% block content %}
        <section class="searching">
            <div class="container">
                
                <form method="post" action="/search/song" class="book-form">
                    <!-- <div class="input-group">
                        <label for="destination" class="input-label">Genre</label>
                        <input type="text" class="input" id="destination">
                    </div>
                    <div class="input-group">
                        <label for="destination" class="input-label">Destination</label>
                        <input type="text" class="input" id="destination">
                    </div> -->
                    <!-- <div class="input-group">
                        <label for="check-in" class="input-label">Check in</label>
                        <input type="date" class="input" id="check-in">
                    </div> -->
                    <!-- <div class="input-group">
                        <label for="check-out" class="input-label">Check out</label>
                        <input type="date" class="input" id="check-in">
                    </div> --> 
                    <div class="input-group">
                        <label for="adults" class="input-label">Search songs :)</label>
                            <input class="options" type="search" name="search_term" aria-label="Search" list="genre">
                            <!-- <datalist class="options" id="genre">
                                {% for genre in genres %}
                                <option value="{{ genre.name }}">
                                <option value="0">Hip Hop</option>
                                <option value="0">Rock</option>
                                <option value="0">Country</option>
                                <option value="0">Jazz</option>
                                <option value="0">Classic</option>
                                {% endfor %}
                            </datalist> -->
                    </div>
                    <!-- <div class="input-group">
                        <label for="children" class="input-label">Children</label>
                        <select class="options" id="children">
                            <option value="0">0</option>
                            <option value="0">1</option>
                            <option value="0">2</option>
                            <option value="0">3</option>
                            <option value="0">4</option>
                            <option value="0">5</option>
                        </select>
                    </div> -->
                    <button type="submit" class="btn form-btn btn-purple">Search
                        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                    </button>
                </form>
            </div>
        </section>
{% endblock %}