{% extends 'layouts/main.html' %}

{% block content %}
        <section class="searching">
            <div class="container">
                <div class="input-group">
                    <label for="adults" class="input-label">Are you sure you want to delete the song "{{ song.name }}" ?</label>
                        
                    
                    <a href="/songs" class="btn form-btn btn-purple">Cancel
                        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                    </a>
                    <!-- <a href="search/musician" class="btn form-btn btn-purple">Confirm
                        <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                    </a> -->
                    <!-- <form action="/songs/{{ song.id }}/delete" method="DELETE"> -->
                        <button id="delete-song" data-id="{{ song.id }}" type="button" class="btn form-btn btn-purple" onclick="deleteSong()">Confirm
                            <span class="dots"><i class="fas fa-ellipsis-h"></i></span>
                        </button>
                    <!-- </form> -->
                </div>
               
            </div>
        </section>
{% endblock %}